.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.temperature__form {
  margin: 50px;
}
.temperature__box{
  margin: 10px;
}
.temperature__list {
  margin: 10px;
}
.convert__button{
  border: none;
  background-color: cyan;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}
.temperature__conversion__result{
  display: flex;
  flex-direction: column;
}